h1{
    color: rebeccapurple;
}

#adminPanel{
    margin-left: 2%;
}

.main-panel{
    width:80%;
    display: block;
    margin:auto;
}
.increase-quantity{
    max-width: 150px;
}
.category{
    display:inline-block;
    height:30px;
}
/**
* hiding the default spinner of quantity
*/
input[type="number"]::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none;
}

/**
Input controlls that are touched. Css for form validations
 */
input.ng-invalid.ng-dirty{
    color: #d43f3a;
    border :1px solid red;
}

.error-message{
    color:red;
}
