h1{
    color: rebeccapurple;
}

#adminPanel{
    margin-left: 2%;
}

.main-panel{
    width:80%;
    display: block;
    margin:auto;
}
.increase-quantity{
    max-width: 150px;
}
.category{
    display:inline-block;
    height:30px;
}
/**
* hiding the default spinner of quantity
*/
input[type="number"]::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none;
}

/**
Input controls that are touched. Css for form validations
 */
input.ng-invalid.ng-dirty{
    color: #d43f3a;
    border :1px solid red;
}

.error-message{
    color:red;
}

.collapsible-form{
    transition: visibility 1s, opacity 0.5s linear;
}
.collapsed-form{
    visibility: hidden;
    opacity: 0;
}
.float-right{
    float:right;
}
.form-header{
    display: inline-block;
    margin:0;
}
.no-margin{
    margin:0;
}