<div class="row" id="adminPanel" ng-init="adminCtrl.resetProduct()">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i> Add New Items</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form role="form" name="addProductForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' ? addProductForm.productName.$dirty && addProductForm.productName.$error.required }">
                        <label for="itmName">Item Name</label>
                        <input type="text" class="form-control" name="productName" ng-model="adminCtrl.newProduct.productName" id="itmName" placeholder="Enter item name" ng-required=true>
                        <span class ="help-block" ng-show="!addProductForm.productName.$pristine && addProductForm.productName.$error.required">This field is required.</span>
                    </div>

                    <div class="form-group" ng-class="{'has-error' ? addProductForm.price.$dirty && (addProductForm.price.$error.required || addProductForm.price.$error.pattern)}">
                        <label for="price">Cost of Item</label>
                        <input type="text" class="form-control" name="price" ng-model="adminCtrl.newProduct.price" id="price" placeholder="Enter cost of item" ng-required=true ng-pattern="/^\d{0,9}(\.\d{1,9})?$/">
                        <span class ="help-block" ng-show="addProductForm.price.$dirty && addProductForm.price.$error.required">This field is required.</span>
                        <span class ="help-block" ng-show="addProductForm.price.$dirty && addProductForm.price.$error.pattern">Please enter a valid cost</span>
                    </div>

                    <div class="form-group">
                        <label for="itmDesc">Description</label>
                        <input type="text" class="form-control" name = "desc" ng-model="adminCtrl.newProduct.description" id="itmDesc" placeholder="Enter Description of item">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Image File input</label>
                        <input type="file" id="exampleInputFile" name ="product-image">
                        <p class="help-block">Upload the Image file.</p>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputFile">Quantity of item</label>
                        <div class="input-group form-group">
                          <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number"  ng-click="adminCtrl.decreaseQuantity()" ng-disabled="adminCtrl.newProduct.totalQuantity  === 1" data-type="minus" data-field="quant[1]">
                                  <span class="glyphicon glyphicon-minus"></span>
                              </button>
                          </span>
                            <input type="number" name="quant[1]" class="form-control input-number" ng-model="adminCtrl.newProduct.totalQuantity" ng-value="adminCtrl.quantity"  ng-minlenght="1" ng-maxlength="500">
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number" ng-model="adminCtrl.newProduct.quantity" ng-click=" adminCtrl.increaseQuantity()" data-type="plus" data-field="quant[1]">
                                  <span class="glyphicon glyphicon-plus"></span>
                              </button>
                            </span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="categoryName">Category</label>
                        <select id="categoryName" class="category"  ng-model="adminCtrl.newProduct.category">
                            <option ng-repeat="category in adminCtrl.categories">{{category.categoryName}}</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-info btn-lg" ng-disabled="addProductForm.$invalid">Submit</button>
                    <button  class="btn btn-info btn-lg" ng-click="adminCtrl.resetProduct()">Reset Data</button>

                </form>
            </div>
        </div>
    </div>

</div>
